<div class="header-bar">
  <h1 id="tableLabel">Football scores</h1>
  <img src="assets/images/logo.png">
  <p>{{description}}</p>
</div>
<hr />
<h2>Enter your favourite team:</h2>
<input type="text" [(ngModel)]="team" />
<br />
<br />
<p>Your favourite team is: {{team}}</p>
<hr />

<app-table></app-table>

<!--<table mat-table>
  <tr>
    <th>Team</th>
    <th>Opponent</th>
    <th>Result</th>
  </tr>
  <tr *ngFor="let res of realResults">
    <th>{{res.homeTeam}}</th>
    <th>{{res.awayTeam}}</th>
    <th>{{res.homeScore}}:{{res.awayScore}}</th>
  </tr>
</table>-->
